{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new User</h1>

        {{ include('views/admin/instructeur/_form.html.twig') }}
    </div>
{% endblock %}
