{% extends 'base.html.twig' %}

{% block main %}
    <br>
    <h2>DE HUISREGELS VAN TRAINING FACTORY</h2>

    Het is ons streven om alle Training Factory leden op een optimale wijze gebruik te kunnen laten maken van de beschikbare faciliteiten. Daarom heeft Training Factory, grotendeels op herhaaldelijk verzoek van de clubleden, een aantal huisregels opgesteld. Wij verzoeken je vriendelijk onze regels te lezen en na te leven.

    Bij het betreden van de club ga je akkoord met de huisregels van Training Factory.
    <br><br>
    - De huisregels van Training Factory zijn: <br>
    - De aanwijzingen van het personeel dienen strikt opgevolgd te worden; <br>
    - Dranken mogen alleen in een afgesloten fles/bidon meegenomen worden in de sportruimten; <br>
    - Roken en het gebruik en/of verspreiden van verboden middelen is ten strengste verboden;
    - Etenswaren zijn niet toegestaan in de sportruimten; <br>
    - Gebruik van een mobiele telefoon om te bellen is niet toegestaan in de sportruimten; <br>
    - Dieren zijn niet toegestaan; <br>
    - Verkoop- en/of promotieactiviteiten zijn niet toegestaan zonder toestemming van Training Factory; <br>
    - Jassen en tassen zijn niet toegestaan in de sportruimten; <br>
    - Kinderen onder de 12 jaar zijn niet toegestaan in de sportruimten; <br>
    - Wij raden u aan om voor het opbergen van uw eigendommen gebruik te maken van de lockers; <br>
    - Gelieve na het sporten geen eigendommen achter te laten in de lockers, daar deze dagelijks worden gecontroleerd en opengemaakt;
    <br>
    - Het gebruik van een handdoek tijdens de training is verplicht; <br>
    - Het is verplicht schone en gepaste (geen slippers of sandalen) sportschoenen en gepaste sportkledij te dragen;
    <br>
    - Gebruik apparatuur alleen voor de daarvoor bestemde doeleinden; <br>
    - Het is verplicht om de apparatuur na gebruik te reinigen; <br>
    - Na training alle materialen terugleggen op de daarvoor bestemde plaatsen; <br>
    - Het is niet toegestaan machines onnodig bezet te houden; <br>
    - In verband met hygiëne is het dragen van (bad)kleding niet toegestaan in de natte gedeelten van de kleedkamers;
    <br>
    - In verband met hygiëne is het niet toegestaan zich te scheren in de kleedkamers; <br>
    - Gelieve af te drogen in het natte gedeelte van de kleedkamer; <br>
    - Verbaal en/of lichamelijk geweld wordt niet getolereerd; <br>
    <br>
    Ongewenste en/of gewenste intimiteiten in de Training Factory club worden niet getolereerd en Indien noodzakelijk wordt er bij overtreding van de huisregels aangifte gedaan bij de politie Training Factory is niet aansprakelijk voor verlies, schade en/of diefstal van je eigendommen en/of lichamelijk letsel in en om de Training Factory club. Training Factory kan als zodanig niet aansprakelijk worden gesteld.
    <br>
    Training Factory is altijd bevoegd om, wegens haar moverende redenen, personen tijdelijk of blijvend de toegang te ontzeggen tot één of meer van haar fitnessclubs (en aanverwante activiteiten) en om de lidmaatschapsovereenkomst per direct op te zeggen.
{% endblock %}