{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Lesson</h1>

        {{ include('views/instructeur/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
