{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block main %}
    <div class="container">
        <h1>Plan nieuwe les</h1>

        {{ include('views/instructeur/_form.html.twig') }}

    </div>
{% endblock %}
