{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gegevens wijzigen</h1>
        {% if "ROLE_USER" in app.user.roles %}
            {% if app.user.id == user.id %}
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
            {% endif %}
        {% else %}
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        {% endif %}

    </div>
{% endblock %}
